#featureContainer   {
    height: 125vh;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%
}

#boxContainer   {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4%;
}

#title  {
    width: 40%;
    margin-top: 7%;
    text-align: center;
    font-size: 40px;
}